
.blood-animation {
  background: radial-gradient(circle, rgba(255, 0, 0, 0.2) 20%, transparent 70%);
  background-size: 400% 400%;
  animation: bloodFlow 6s ease-in-out infinite;
  filter: blur(60px);
}

@keyframes bloodFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
